@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Reallocated";
  src: url("/Fonts/Reallocated.ttf");
}

/* sample using the font */

:root {
  --primary-color: white;
  --secondary-color: rgb(96, 96, 96);
  --tertiary-color: rgb(241 245 249 / 0.8);
  --highlight-color: black;
  --invert-color: 0;
}
.darkmode {
  --primary-color: rgb(0, 0, 0);
  --secondary-color: rgb(200, 200, 200);
  --tertiary-color: rgba(51, 51, 51, 0.8);
  --highlight-color: white;
}

.darkmode .frontimage {
  filter: brightness(0.4);
}
.darkmode .invertsvg {
  filter: invert() brightness(0.8);
}

.jablutext > div:first-child {
  text-shadow: 5px 5px 0px black;
  color: #4b0082;
}
.jablutext > div:nth-child(3) {
  color: #008080;
  text-shadow: 5px 5px 0px black;
}
@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: rgb(0, 0, 0);
    --secondary-color: rgb(200, 200, 200);
    --tertiary-color: rgba(51, 51, 51, 0.8);
    --highlight-color: white;
    --invert-color: 1;
  }
  .frontimage {
    filter: brightness(0.5);
  }
  .invertsvg {
    filter: invert() brightness(0.8);
  }
  .jablutext > div:first-child {
    text-shadow: 5px 5px 0px black;
    color: #4b0082;
  }
  .jablutext > div:nth-child(3) {
    color: #008080;
    text-shadow: 5px 5px 0px black;
  }
}

.text-highlight {
  color: var(--highlight-color);
}

.text-tertiary {
  color: var(--tertiary-color);
}

.bg-primary {
  background-color: var(--primary-color);
}
.bg-secondary {
  background-color: var(--secondary-color);
}
.bg-tertiary {
  background-color: var(--tertiary-color);
}
.text-secondary {
  color: var(--secondary-color);
}

body {
  color: var(--secondary-color);
  background: var(--primary-color);
}

.shadowhand {
  font-family: "Reallocated";
}
.scrollbaronhover::-webkit-scrollbar-thumb {
  background: transparent;
}

.scrollbaronhover:hover::-webkit-scrollbar-thumb {
  background: gray;
}

/* width */

::-webkit-scrollbar {
  width: 5px;
  transition-duration: 0.3s;
  height: 5px;
}

/* Track */

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px transparent;
  border-radius: 50%;
}

/* Handle */

::-webkit-scrollbar-thumb {
  transition-duration: 0.3s;
  background: gray;
  border-radius: 10px;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.jablutext {
  font-family: "Reallocated";
  display: flex;
}

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,
textarea {
  font-size: 16px;
}
h1 {
  font-size: larger;
  font-weight: 600;
}
h2 {
  font-size: large;
  font-weight: 600;
}
h3 {
  font-size: medium;
  font-weight: 600;
}
h4 {
  font-size: small;
  font-weight: 600;
}

.overlay {
  background: var(--primary-color);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.spinner {
  font-size: 75px;
  position: relative;
  display: inline-block;
  width: 1em;
  height: 1em;
}
.spinner.center {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.spinner-blade {
  position: absolute;
  left: 0.4629em;
  bottom: 0;
  width: 0.074em;
  height: 0.2777em;
  border-radius: 0.5em;
  background-color: transparent;
  transform-origin: center -0.2222em;
  -webkit-animation: spinner-fade 1s infinite linear;
  animation: spinner-fade 1s infinite linear;
}
.spinner-blade:nth-child(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  transform: rotate(0deg);
}
.spinner-blade:nth-child(2) {
  -webkit-animation-delay: 0.083s;
  animation-delay: 0.083s;
  transform: rotate(30deg);
}
.spinner-blade:nth-child(3) {
  -webkit-animation-delay: 0.166s;
  animation-delay: 0.166s;
  transform: rotate(60deg);
}
.spinner-blade:nth-child(4) {
  -webkit-animation-delay: 0.249s;
  animation-delay: 0.249s;
  transform: rotate(90deg);
}
.spinner-blade:nth-child(5) {
  -webkit-animation-delay: 0.332s;
  animation-delay: 0.332s;
  transform: rotate(120deg);
}
.spinner-blade:nth-child(6) {
  -webkit-animation-delay: 0.415s;
  animation-delay: 0.415s;
  transform: rotate(150deg);
}
.spinner-blade:nth-child(7) {
  -webkit-animation-delay: 0.498s;
  animation-delay: 0.498s;
  transform: rotate(180deg);
}
.spinner-blade:nth-child(8) {
  -webkit-animation-delay: 0.581s;
  animation-delay: 0.581s;
  transform: rotate(210deg);
}
.spinner-blade:nth-child(9) {
  -webkit-animation-delay: 0.664s;
  animation-delay: 0.664s;
  transform: rotate(240deg);
}
.spinner-blade:nth-child(10) {
  -webkit-animation-delay: 0.747s;
  animation-delay: 0.747s;
  transform: rotate(270deg);
}
.spinner-blade:nth-child(11) {
  -webkit-animation-delay: 0.83s;
  animation-delay: 0.83s;
  transform: rotate(300deg);
}
.spinner-blade:nth-child(12) {
  -webkit-animation-delay: 0.913s;
  animation-delay: 0.913s;
  transform: rotate(330deg);
}

@-webkit-keyframes spinner-fade {
  0% {
    background-color: #69717d;
  }
  100% {
    background-color: transparent;
  }
}

@keyframes spinner-fade {
  0% {
    background-color: #69717d;
  }
  100% {
    background-color: transparent;
  }
}
fieldset.MuiOutlinedInput-notchedOutline{
  border: 2px solid #2476D2!important;
}
fieldset:hover {
  border: 2px solid #2476D2!important;
}

input{
  color: var(--secondary-color)!important;
}
.MuiFormLabel-root {
  color: var(--secondary-color)!important;
}
.MuiFormLabel-root.Mui-focused{
  color: #2476D2,
}